/* body {
  background-image: url("../img/t_mat2.gif");
} */
h1,h2,h3,h4 {
  font-style: italic;
  font-weight: bold;
}
a#pull-left {
  float: left !important;
}
a#pull-right {
  float: right !important;
}

.site-wrapper {
  margin: 60px auto;
}
.wrapper {
  padding: 30px 0;
}
#title {
  text-align: center;
  color: blue;
}
a {
  text-decoration: underline;
  color: blue;
}
.fan {
    display: block;
    width: 40%;
		margin: 30px auto;
}
h1,h2,h3,h4,h5,h6 {
  font-style: italic;
  font-weight: bold;
}
li {
  font-style: italic;
  font-weight: bold;
}
.welcome {
 height: 50px;
 overflow: hidden;
 position: relative;
}
.welcome h1 {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: left;
 color: #FF0000;
 font-style: italic;
 font-weight: bold;
 /* Apply animation to this element */
 -moz-animation: welcome 5s linear infinite alternate;
 -webkit-animation: welcome 5s linear infinite alternate;
 animation: welcome 5s linear infinite alternate;
}
/* Move it (define the animation) */
@-moz-keyframes example5 {
 0%   { -moz-transform: translateX(70%); }
 100% { -moz-transform: translateX(0%); }
}
@-webkit-keyframes example5 {
 0%   { -webkit-transform: translateX(70%); }
 100% { -webkit-transform: translateX(0%); }
}
@keyframes welcome {
 0%   {
 -moz-transform: translateX(70%); /* Firefox bug fix */
 -webkit-transform: translateX(70%); /* Firefox bug fix */
 transform: translateX(70%);
 }
 100% {
 -moz-transform: translateX(0%); /* Firefox bug fix */
 -webkit-transform: translateX(0%); /* Firefox bug fix */
 transform: translateX(0%);
 }
}

.news {
 height: 50px;
 overflow: hidden;
 position: relative;
}
.news h3 {
 font-size: 2em;
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);
 transform:translateX(100%);
 /* Apply animation to this element */
 -moz-animation: example1 15s linear infinite;
 -webkit-animation: example1 15s linear infinite;
 animation: example1 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
 0%   {
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);
 }
 100% {
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%);
 }
}
.recent-container {
  width: 18em;
  height: 8em;
  margin: 25em auto;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}
.recent-posts {
  text-align: center;
  position: relative;
  box-sizing: border-box;
  animation: marquee 15s linear infinite;
}
.recent-posts ul{
  text-decoration: none;
}
.recent-posts:hover {
    animation-play-state: paused;
}

/* Make it move! */
@keyframes marquee {
    0%   { top:   8em }
    100% { top: -11em }
}

input {
    background: transparent;
}
.input {
  padding: 45px 0 15px;
  text-align: center;
}
.main-feed {
  margin-top: 0;
  margin-bottom: 15px;
}
img#blog-img {
  width: 99%;
}
.modal {
    margin-left: -267px;
    margin-top: 60px;
}
.modal-content > .img-responsive {
    padding-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.modal-header {
    padding: 0px;
    border-bottom: none;
}
.modal-content{
    padding-bottom: 80px;
    width: 852px;
}
.letter {
  text-align: center;
}

.videos {
  text-align: center;
  padding: 0;
}
.modal-content{
  background-image: url("../img/t_mat2.gif");
}


article {
  padding: 0px 0 8px;
  border-bottom-style: groove;
  border-bottom: dotted 1px;
}
.contact{
  text-align: center;
}
.recent-posts>p>a {
  font-weight: bold;
  font-style: italic;
}
/*
 body::-webkit-scrollbar {
   width: 21px;
   height: 21px;
}
.main-feed::-webkit-scrollbar {
 width: 21px;
 height: 21px;
}

body::-webkit-scrollbar-thumb {
 background-color: silver;
 border-left: ridge 2px #fff;
 border-top: ridge 2px #fff;
 border-right: ridge 2px grey;
 border-bottom: ridge 2px grey;
}
.main-feed::-webkit-scrollbar-thumb {
 background-color: silver;
 border-left: ridge 2px #fff;
 border-top: ridge 2px #fff;
 border-right: ridge 2px grey;
 border-bottom: ridge 2px grey;
}
body::-webkit-scrollbar-track {
 background-image: url(../img/bg-scrollbar-track.png);
 background-size: 2px;
}
.main-feed::-webkit-scrollbar-track {
 background-image: url(../img/bg-scrollbar-track.png);
 background-size: 2px;
}

body::-webkit-scrollbar-button:vertical:end:increment{background-image:url(../img/sprite-old-school-scroll.png);background-position:0 0;width:17px;height:18px;height:22px}
.main-feed::-webkit-scrollbar-button:vertical:end:increment{background-image:url(../img/sprite-old-school-scroll.png);background-position:0 0;width:17px;height:18px;height:22px}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){body::-webkit-scrollbar-track{background-image:url(../img/bg-scrollbar-track@2x.png)}}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){.main-feed::-webkit-scrollbar-track{background-image:url(../img/bg-scrollbar-track@2x.png)}}

body::-webkit-scrollbar-button:horizontal:end:increment,body::-webkit-scrollbar-button:horizontal:start:decrement,body::-webkit-scrollbar-button:vertical:end:increment,body::-webkit-scrollbar-button:vertical:start:decrement{background-color:silver;border-left:ridge 2px #fff;border-top:ridge 2px #fff;border-right:ridge 2px grey;border-bottom:ridge 2px grey;width:21px;height:21px;display:block}

.main-feed::-webkit-scrollbar-button:horizontal:end:increment,.main-feed::-webkit-scrollbar-button:horizontal:start:decrement,.main-feed::-webkit-scrollbar-button:vertical:end:increment,.main-feed::-webkit-scrollbar-button:vertical:start:decrement{background-color:silver;border-left:ridge 2px #fff;border-top:ridge 2px #fff;border-right:ridge 2px grey;border-bottom:ridge 2px grey;width:21px;height:21px;display:block}



@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){body::-webkit-scrollbar-button:vertical:end:increment{background-image:url(../img/ui/sprite-old-school-scroll-2x.png);background-size:70px 18px}}

@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){.main-feed::-webkit-scrollbar-button:vertical:end:increment{background-image:url(../img/ui/sprite-old-school-scroll-2x.png);background-size:70px 18px}}

body::-webkit-scrollbar-button:vertical:start:decrement{background-image:url(../img/sprite-old-school-scroll.png);background-position:-17px 0;width:17px;height:18px;height:22px}

.main-feed::-webkit-scrollbar-button:vertical:start:decrement{background-image:url(../img/sprite-old-school-scroll.png);background-position:-17px 0;width:17px;height:18px;height:22px}

@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){body::-webkit-scrollbar-button:vertical:start:decrement{background-image:url(../img/ui/sprite-old-school-scroll-2x.png);background-size:70px 18px}}

@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){.main-feed::-webkit-scrollbar-button:vertical:start:decrement{background-image:url(../img/ui/sprite-old-school-scroll-2x.png);background-size:70px 18px}}

body::-webkit-scrollbar-button:horizontal:end:increment{background-image:url(../img/sprite-old-school-scroll.png);background-position:-52px 0;width:18px;height:17px;height:22px}

.main-feed::-webkit-scrollbar-button:horizontal:end:increment{background-image:url(../img/sprite-old-school-scroll.png);background-position:-52px 0;width:18px;height:17px;height:22px}

@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){body::-webkit-scrollbar-button:horizontal:end:increment{background-image:url(../img/ui/sprite-old-school-scroll-2x.png);background-size:70px 18px}}

@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){.main-feed::-webkit-scrollbar-button:horizontal:end:increment{background-image:url(../img/ui/sprite-old-school-scroll-2x.png);background-size:70px 18px}}

body::-webkit-scrollbar-button:horizontal:start:decrement{background-image:url(../img/sprite-old-school-scroll.png);background-position:-34px 0;width:18px;height:17px;height:22px}.section,.section .background,.section .graphic,.section .ribbon,.section .vertical-strip{background-position:center}

.main-feed::-webkit-scrollbar-button:horizontal:start:decrement{background-image:url(../img/sprite-old-school-scroll.png);background-position:-34px 0;width:18px;height:17px;height:22px}.section,.section .background,.section .graphic,.section .ribbon,.section .vertical-strip{background-position:center}

@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){body::-webkit-scrollbar-button:horizontal:start:decrement{background-image:url(../img/sprite-old-school-scroll-2x.png);background-size:70px}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){.main-feed::-webkit-scrollbar-button:horizontal:start:decrement{background-image:url(../img/sprite-old-school-scroll-2x.png);background-size:70px} */
