body {
 background: #1fa5b1 ;
 }
 h1:hover {
   color: #f07889;
 }
 .box {
   margin: 12px;
  border: 2px solid #1a424e;
  padding: 4px;
  background-color: #e1a535;
 }
.img-responsive {
    max-width: 20%;
}
.jumbotron {
  background: #1a424e ;
}
h1 {
  float:left;
  color:white;
}
.spec {
  color:red;
}
h2 {
  color:white;
}
p {
  color:white;
}
ul {
  color:white;
}
ol {
  color:white;
}
li {
  color:white;
}
.about {
  padding: 10px;
}
.about .img-responsive{
  max-width: 80%
}
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
.btn-primary {
    margin-left: 2px;
    background: #e1a535;
    color: #ffffff;
}
.btn-default {
    background: #d8caa1;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #6bab38;
}
.btn-primary:active, .btn-primary.active {
    background: #e1a535;
    box-shadow: none;
}
.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 2px solid #e1a535;
    color: #e1a535;
}
btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #e1a535;
    border-color: #e1a535;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #e1a535;
    color: #e1a535;
    box-shadow: none;
}
